<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detail Show - Wombat Concert</title>
  <link rel="stylesheet" href="/css/show-detail.css">
</head>
<body>
  <!-- Header -->
  <div th:replace="~{guest/fragment/header :: header}"></div>

  <div class="main-content">
    <div class="show-background" th:style="|background-image: url('${show.image_path}');|">
      <section class="show-detail">
        <!-- Tampilkan detail show yang dipilih -->
        <h1 th:text="${show.venue}">Venue</h1>
        <p>Artis: <span th:text="${show.name}">Artist Name</span></p>
        <p>Tanggal: <span th:text="${show.date}">Date</span></p>
        <p>Dibuat oleh: <span th:text="${show.created_by}">Creator</span></p>
    
        <h2>Setlist</h2>
        <ul>
          <li th:each="song : ${setlist}">
              <!-- Jika URL tersedia, tampilkan lagu sebagai tautan -->
              <a th:if="${song.youtube_url}" th:href="${song.youtube_url}" target="_blank" th:text="${song.song_title}"></a>
              <!-- Jika URL tidak tersedia, tampilkan lagu sebagai teks biasa -->
              <span th:if="${song.youtube_url == null}" th:text="${song.song_title}"></span>
          </li>
        </ul>
      </section>
    </div>
  </div>

  <!-- Footer -->
  <div th:replace="~{guest/fragment/footer :: footer}"></div>
</body>
</html>
