/* General Styles */
body {
    margin: 0;
    font-family: Helvetica;
    background-color: #f5f5f5;
    width: 100%;
}

.heading{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
  }

/* Header Styles */
.admin-nav {
    background-color: #2c3e50;
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

/* Footer Styles */
.admin-footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Button Styles */
.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #3498db;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-secondary {
    background-color: #95a5a6;
}

.btn-edit {
    background-color: #2ecc71;
}
  
  /* Footer */
  footer {
    background: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
  }
  
  .pagination {
    padding-bottom: 10px;
  }
  
  .pagination nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .pagination nav a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pagination nav a:hover {
    background-color: #007bff;
    color: white;
  }
  
  .pagination nav a:disabled, .pagination nav a[aria-disabled="true"] {
    pointer-events: none;
    background-color: #e0e0e0;
    color: #a0a0a0;
    border: 1px solid #ccc;
  }
  
  .pagination nav span {
    font-size: 16px;
    color: #333;
  }
  

  /* Untuk Add Data */
 