<header th:fragment="header">
    <nav class="admin-nav">
        <div styleclass="logo">
            <a href="/admin/home-admin" style="text-decoration:none;color:white;">
                <h2>Wombat Concert</h2>
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="/admin/home-admin">Home</a></li>
            <li><a href="/admin/search-admin">Search</a></li>
            <li><a href="/admin/add-data">Add Data</a></li>
            <li><a href="/admin/users">Kelola Pengguna</a></li>
            <li><a href="/admin/reports">Laporan</a></li>
            <li><a href="/admin/statistics">Statistik</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>
